<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    input[type=text] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    button {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>
  
</head>
<body>
  <div class="container">
  <h1 >Enter Personal Information</h1> 
  <form   action="@{/saveperson}" th:object="${person}" method="post" ></form>
  <input type="text" id="name" placeholder="Name">
  <input type="text" id="age" placeholder="Age">
      <button type="submit">Save</button></div>
  
</body>
</html>