<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}"><br>

        <input type="submit" value="Register">
    </form>
    <p th:if="${param.success}">Register successful!</p>
    <p th:if="${param.error}">Username already exists.</p>
</body>

</html>