<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.min.css">
 <link rel="stylesheet" href="/src/main/resources/static/css/sytle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  
  <p class="same">text</p>
  <p class="letterSpacing wordSpacing textingcenter"> try try try try try try try try try try try try try try try try try trytry try try try try try try try try</p>
  <h1 class="textingcenter">heading h1</h1>
  <h2><em>heading h2</em></h2>
  <img src="/src/main/resources/templates/img/IMG_8329.jpeg" alt="貓貓" width="500">
  <table style="width: 100%" border="1">
    <tr>
      <td>lastname <img id="distance"   src="/src/main/resources/templates/img/IMG_8329.jpeg" alt="貓貓" width="500"></td>
      <td>fistname</td>
    </tr>
    <tr>
      <td>alan</td>
      <td>li</td>
    </tr>
  </table>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/CaNH58j2E6E?si=OsNB2SS5vXvd7Nx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <br><a class="same" href="https://www.youtube.com/" target="_blank"> Youtube</a>
  <br><a id="abc" href="https://www.youtube.com/" target="_blank"> Youtube</a>

  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>

  <script src="/src/main/resources/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>